<div ng-controller="NewItemCtrl">
    <button ng-click="back()">Cancel</button>
    <img src="{{addHTTPPrefix(item.imgUrl)}}" alt="{{item.imgUrl}}"/>
    <h1>Name: <input ng-model="item.name" type="text" placeholder="Name of the item"/></h1>
    <h2>Image: <input ng-model="item.imgUrl" type="text" placeholder="Image url"/></h2>
    <h2>Notes: <textarea ng-model="item.notes" placeholder="Notes about item"></textarea></h2>
    <h2>Price: <input ng-model="item.price" type="text" placeholder="Price of item"/></h2>
    <h2>Where to get it: <input ng-model="item.location" type="text" placeholder="URL or just a place"/></h2>
    <h2>Status: <input ng-model="item.status" value="open" type="radio"/>Open<input ng-model="item.status" value="closed" type="radio"/>Closed</h2>
    <button ng-click="postItem(detailList)">Add Item</button>
</div>